{% extends 'base.html.twig' %}

    {% block title %}Home{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row no-gitters justify-content">
            <div class="col-12 col-lg-6 col-md-6">
                <h1 class="display-4 text-center">CRM</h1>
            </div>
        </div>
    </div>
{% endblock %}
