{% if total_pages > 0 %}
    <div class="col-12 text-center">
        <nav class="ml-auto mr-auto text-center">
            <ul class="pagination justify-content-center">
                {% for page in 1..total_pages %}
                    {% if loop.first %}
                        <li class="p-1" {% if current_page == 1 %}disabled{% endif %}>
                            <a href="{{ url(base_route, {'page':current_page-1}) }}" aria-label="Назад" class="btn btn-outline-secondary">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="p-1 {% if current_page == page %}disabled{% endif %}">
                        <a class="btn btn-outline-secondary" href="{{ url(base_route, {'page': page}) }}">{{ page }}</a>
                    </li>
                    {% if loop.last %}
                        <li class=" p-1 {% if current_page == total_pages %}disabled{% endif %}">
                            <a href="{{ url(base_route, {'page':current_page+1}) }}" aria-label="Вперед" class="btn btn-outline-secondary">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endif %}